* {   
    box-sizing: border-box;
    background-color: rgb(41, 41, 41);
    color: white;
    margin: 0px;
}

.bodyBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.box1 {
    flex-basis: 20%;
    border: 1px white solid;
    justify-content: center;
    display: flex;
    flex: 1 0; 
    padding: 10px;
   
}

.box2 {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 0; 
    justify-content: center;
    align-items: center;
    }

#questionBox {
    flex-basis: 25%;
    width: 75%;
    background-color: white;
    margin: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1 0;
}
#questionBox h2 {
    background-color: inherit;
    color: black;
    font-size: 50px;

}

#timer {
    color: white;
    font-size: 50px;

}

#questions {
    text-decoration: bold;
}

.buttonOne {
    width: 65%;
    background-color: white;
    flex-basis: 15%;
    margin: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline;
    line-height: 100%;
    font-size: 35px;
    cursor: pointer;
    flex: 1 0; 
}

.buttonOne:hover {
    color:rgb(255, 255, 255);
    background-color: rgb(133, 133, 133);
    border-radius: 5px;
}

.box3 {
    flex-basis: 14%;
    justify-content: center;
    align-content: center;
    display: flex;
    flex: 1 0; 
    padding: 20px;
}

.buttonTwo {
    background-color: inherit;
    color: white;
    cursor: pointer;
    font-size: 35px;
    padding: 10px;
    border-radius: 5px;
}

.buttonThree {
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 35px;
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.buttonTwo:hover {
    color:rgb(255, 255, 255);
    background-color: rgb(133, 133, 133);
    border-radius: 5px;
}

h1 {
    text-align: center;
}

h3 {
 color: rgb(255, 255, 255);
 font-size: 75px;
 border: white dashed 5px;
 border-radius: 5px;
 padding: 5px;
 text-align: center;
 margin-bottom: 20px;
 display: flex;
 justify-content: center;
 margin-left: 10px;
 margin-right: 10px;
}

h4 {
    color: rgb(224, 224, 224);
    font-size: 50px;
    border: white dashed 5px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin: 30px;  
    display: block;
   
}

.quiz {
    display: none;
}

.lander {
    display: block;
    font-size: 50px;
}
